html {
  scroll-behavior: smooth;
  background-color: #1f1f1f;
}

body{
  margin: 0;
  background-color: #5a5959;
  background-image: url(../img/bg-shop.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

a{
  color: white;
  text-decoration: none;
} 
  
  /*NAV*/

  .navbar {
    color: #ffffff;
    background-color: rgba(24, 24, 24, 0.5);
    padding: 10px 0;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    margin-bottom: 20px;
  }

  .logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
}
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 0 20px;
  }

 .container p {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .container p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .container p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .container img{
    border-radius: 50%;
    width: 100px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  
#cartlogo {
    border-radius: 0px;
    width: 30px;
  }
/*FIN NAV*/

.promociones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: 400px;
  justify-content: center;
  margin: 30px 50px;
}

.promo {
  background: url(../img/promo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  border-radius: 20px;
}

.lugar-mex {
  background: url(https://www.yucatan.gob.mx/docs/galerias/chichen_itza/38.jpg?impolicy=fcrop&w=1040&h=580&q=mediumHigh);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.lugar-cord {
  background: url(https://mediaim.expedia.com/destination/1/6a8203b71ad6e62e6b4d6b9923a2ca59.jpg?impolicy=fcrop&w=1040&h=580&q=mediumHigh);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}


.promo-titulo {
  font-family: monospace;
  font-size: 25px;
  margin: 10px 20px;
  color: #000000;
}

.promo-titulo.yuca {
  font-family: monospace;
  font-size: 25px;
  margin: 10px 20px;
  color: #fff;
}


.destinos {
    background-color: #181818;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 5px 20px;
    padding: 20px 40px;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 12px;
}

/* AÑADÍ LA TIPOGRAFÍA Wix Madefor Display PARA LA NAVBAR DE "DESTINOS" */
.destinos{
  display: flex;
  flex-flow: wrap row;
  gap: 20px;
}

.destinos p {
  cursor: pointer;
    display: inline-block;
    position: relative;
    color: white;
    justify-content: center;
    display: flex;
    margin: 5px 20px;
    flex-wrap: wrap;
  }

.destinos p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .destinos p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.titulo {
    display: flex;
    justify-content: left;
    margin: 50px 0;
}


#cabecera{
    border-radius: 50%;
    border: double rgb(151, 144, 144); 
    margin-left: 30px;
    width: 100px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; 
    border-radius: 20px;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;

    p{
      text-align: justify;
    }

    /* CAMBIÉ LA ALINEACIÓN DEL TEXTO PARA MEJORAR EL DISEÑO */
}
.card{
    background-color: #3f3f3f;
    text-align: center;
    width: 325px;
    height: 575px;
    padding: 25px;
    border: solid black 1px; 
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px;
    padding-bottom: 10px;
    transition: all ease-in-out 300ms;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 27px 24px 46px 8px rgba(0,0,0,0.8);
-webkit-box-shadow: 27px 24px 46px 8px rgba(0,0,0,0.8);
-moz-box-shadow: 27px 24px 46px 8px rgba(0,0,0,0.8);
}

.card img{
    height: 200px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto 10px auto;
}
.card h2, p{
    margin: 5px 20px 10px 20px;
    padding-bottom: 10px;
}
div h2, p{
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
}

main{
    margin: 20px 0;
}


h1{
    font-family: monospace;
    margin-left: 30px;
}

.compra-plato{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
button{
    background-color: #06141b; 
    border: solid black .5px; 
    border-radius: 30px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    height: 40px;
}
button:hover{
    transform: scale(1.1);
    background-color: #11212D;
    color: white; 
}
h1:hover{
    transform: scale(1.1);
}

@media (max-width: 1200px) {
  .card {
      max-width: 290px;
      margin: 20px 20px;
  }
  .card-container{
    width: 1200px;
  }
}

@media (max-width: 1000px) {
  .card {
      max-width: 280px;
      margin: 20px 20px;
  }
  .card-container{
    width: 1000px;
  }
}

@media (max-width: 800px) {
  .card {
      max-width: 280px;
      margin: 20px 20px;
  }
  .card-container{
    width: 600px;
  }
}

#card-suecia{
  background-color: #5a5959;
  border: dashed red 2px;
}

#pack-sue {
  background-color: #5a5959;
  border: dashed red 2px;
}

#turistico {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
}

a {
  text-decoration: none;
}


.contenedor-pack {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand", sans-serif;
}

.paquete {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #3f3f3f;
  text-align: start;
  width: 100%;
  box-sizing: border-box; 
  margin: 20px 100px;
}

.paquete img {
  width: 200px;
  border: solid black 0.5px;
  margin: 5px 10px;
}

.pack-text {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  flex: 1; 
}

@media (max-width: 1100px) {
  .paquete {
    flex-direction: column-reverse; 
    text-align: center; 
    flex-wrap: wrap;
    width: 400px;
  }
  
  .paquete img {
    width: 200px; 
    margin: 10px auto; 
  }
  
  .pack-text {
    text-align: center; 
  }
}


footer{
  background-color: black;
  color: white; 
  height: 40px;
  padding-top: 10px;
  margin-top: 30px;  
  border-radius: 5px;

  div{
    background-color: black;
    color: white;
    margin: none; 
    
    h3{
      font-family: "Quicksand", sans-serif;
    }
  }

  .footer-major{
    display: flex;
    justify-content: space-around;
    text-align: center;

    .footer-minor{
      display: flex;
    }

    .fa-phone, .fa-location-dot, .fa-envelope, .fa-facebook, .fa-square-instagram{
      padding-top: 12px;
    }

    .sitios-footer{
      text-align: left;
    }

  }
  .derechos-reservados{
    padding-top: 10px;
    text-align: center;
  }

}


.sitios-footer p:hover{
  text-decoration: underline;
  transform: scale(1.05);
}

.red:hover {
  text-decoration: underline;
  transform: scale(1.05);
}